player-connection-mode=Listen
player-connection-guid=1171575562
player-connection-debug=0
player-connection-project-name=TestFMU
player-connection-ip=192.168.230.1
player-connection-ip=192.168.183.1
player-connection-ip=10.21.0.162
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=3b28c03d9c9b4566b9b8c0bafc72f4d7
